VITE_GITHUB_OAUTH_CLIENT_ID=Ov23liHjW9PlkLpztbC1
VITE_GITHUB_OAUTH_EXCHANGE_URL=https://renntnerhazienda-oauth.philip-doebler1997.workers.dev/github-oauth
VITE_GITHUB_OAUTH_SCOPE=public_repo
VITE_GITHUB_OAUTH_REDIRECT_URI=http://127.0.0.1:5173/RenntnerHazienda/
VITE_ROUTE_PROXY_URL=https://renntnerhazienda-oauth.philip-doebler1997.workers.dev/route
